html {
  font-size: 1.8rem;
}

.player h1 {
  font-size: 2rem;
  margin: 0 0 0.5rem;
  text-align: center;
}

.player ul {
  padding: 0 20px;
  margin: 0;
}

.player li::before {
  content: none;
}

.player li {
  text-align: center;
}

.buttonInput {
  margin: 10px 0;
}

html,
body,
#app-root,
#game {
  height: 100%;
  width: 100%;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#players {
  flex: 1 1 auto;
  overflow: scroll;
  width: 100%;
}

.player {
  flex: 1 1 auto;
}

.score {
  font-size: 1.8rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
